doctype
html(lang="es")
	head
		include includes/head
		
	body.index
		include includes/header
		#app
			.commonContainer
				.logo
					img(src="img/logo_thp.png")
				h1.titulo Molino Laminador
				.container
					.row
						.col-sm.blanco
							.contenedor
								h1 Código
								h2 @{{order.subcategory.codigo}}
								br
								h1 Terminado
								h2 @{{order.subcategory.category.nombre}}
								br
								h1 Descripción
								h2 @{{order.subcategory.descripcion}}
								br
								h1 Restante de piezas: 
								h2 @{{order.restante}}
						.col-sm.tinto
							.contenedor
								h1 Operador 1
								//-{{dump($workers)}}
								form(@submit="addWork")
									select.custom-select(name="worker" id="Select1" v-model="form.worker_id")
										
										@foreach($workers as $worker)
										option(value!='{{$worker->id}}' v-if!='form.worker2_id!={{$worker->id}}') {{$worker->nombre}} {{$worker->apellido}}
										@endforeach
										
									br
									br
									h1 Operador 2
									select.custom-select(name="worker2" id="Select2" v-model="form.worker2_id")
										
										@foreach($workers as $worker)
										option(value!='{{$worker->id}}' v-if!='form.worker_id!={{$worker->id}}') {{$worker->nombre}} {{$worker->apellido}}
										@endforeach
									br
									.form-group
										h1 Cantidad
										input.form-control(type='number' v-model="form.cantidad" name="cantidad" placeholder='Ingrese una cantidad')
									br
									button.btn.btn-primary(type='submit') Enviar
									button.btn.btn-primary(v-on:click="onReset") Cambio de Trabajadores
									#myModal.modal.fade(role='dialog')
										.modal-dialog
											// Modal content
											.modal-content
												.modal-header
													button.close(type='button', data-dismiss='modal') ×
													h4.modal-title Modal Header
												.modal-body
													p Some text in the modal.
												.modal-footer
													button.btn.btn-default(type='button', data-dismiss='modal') Close

								.clear
							.clear
 
		include includes/footer