doctype
html(lang="es")
	head
		include includes/head
	body.index
		include includes/header
		#app
			h1 Inicio2
			br
			br
			.container-fluid
				.row
					.col-sm
						h1 Código
						h2 CNR04
						br
						h1 Descripción
						h2 Lorem ipsum dolor 
						br
						h1 Cantidad de piezas: 
						h2 20
					.col-sm
						h1 Trabajador 1
						select.custom-select
							option(selected='') Trabajador
							option(value='1') Ericx
							option(value='2') Joe
							option(value='3') Fer
						br
						br
						h1 Trabajador 2
						select.custom-select
							option(selected='') Trabajador
							option(value='1') Ericx
							option(value='2') Joe
							option(value='3') Fer
						br
						br
						.form-group
							h1 Cantidad
							input.form-control(type='number' placeholder='Ingrese una cantidad')
						br
						br
						button.btn.btn-primary(type='submit') Enviar

		include includes/footer